.container-step {
  margin: auto;
  width: 42%;
  padding: 10px;
  margin-top: 1rem;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  overflow: hidden;
  padding: 1rem;
  margin-top: 1rem;
  height: 500px;
}

.step {
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 10px; /* +6 for border */
  height: 10px;
  display: inline-block;
}

.step .line {
  top: 20px;
  left: 7px;
  //  height: 130px;
  height: 100%;
  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: #30a232;
  border-color: #30a232;
}

.step.completed .line {
  border-left: 2px solid rgb(104, 104, 104, 0.5);
}

.step.active .circle {
  visibility: visible;
  background-color: #f62419;
  border-color: #f62419;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content-step {
  margin-left: 10px;
  margin-top: -10px;
  display: inline-block;
}

#map {
  width: 100%;
  min-height: 300px;
}
