<div style="margin-top: 3rem" class="bg">
    <div class="container-step">
        <span style="font-size: 26px; font-weight: 500;">Ride details</span>

        <div class="card">
            <div style="float: left">
                <h2>{{ride.userEmail}}</h2>
                <h3>Scooter: #TAPP3</h3>
                <p>Distance: {{ride.distance}}m</p>
                <p>Ride Time: {{transform(ride.duration)}}</p>
                <p>Cost: {{ride.cost}} RON<p>
            </div>
            
            <div style="float: right">
                <div>
                    <div class="step completed">
                        <div class="v-stepper">
                        <div class="circle"></div>
                        <div class="line"></div>
                        </div>
                
                        <div class="content-step">
                            {{ride.startTime | date: 'shortTime'}}
                            <p>
                                {{origin}}
                            </p>
                            
                        </div>
                    </div>
                    <div class="step active">
                        <div class="v-stepper">
                        <div class="circle"></div>
                        <div class="line"></div>
                        </div>
                    
                        <div class="content-step">
                        {{ride.endTime | date: 'shortTime'}}
                        <p>{{destination}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div style="clear: both;">
                <!-- <p>Distance: {{ride.distance}}m</p>
                <p>Ride Time: {{transform(ride.duration)}}</p> -->
                <div id="map"></div> 
            </div>
            

        </div>
    </div>


</div>