<div class="content bg">
    <div>
      <span style="font-size: 20px; font-weight: 500;">Customers</span> <span
        style="padding-left: 20px; opacity: 0.8; font-size: 14px; display: inline-block;">1,000 Total</span>
      <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
    </div>
    
    <div class="mat-elevation-z0">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
    
        <!-- Username -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
    
        <!-- Email-->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip *ngIf="element.status == 'active' " color="accent" selected>{{element.status}}</mat-chip>
              <mat-chip *ngIf="element.status == 'suspended' " color="warn" selected>{{element.status}}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
    
        <!-- Last Register -->
        <ng-container matColumnDef="last registered">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Registered </th>
          <td mat-cell *matCellDef="let element"> {{element.registeredAt | date: 'short'}} </td>
        </ng-container>
    
        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="float-right">
              <mat-icon style="color: black;" (click)="openDialog(element._id, element.email, element.status)">description</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </div>
    </div>