<body class="bg">
    <div class="login-card flex-container">
        <div class="container">
            <div class="centered" style="margin-top: 30px; margin-bottom: 30px;">
                <h1>Login</h1>
                <h3 style="margin-top: -10px;">Welcome, we've missed you!</h3>
            </div>

            <form #formLogin="ngForm">
                <div class="centered">
                    <p>
                        <mat-form-field style="width: 300px;" appearance="fill">
                            <mat-label style="opacity: 0.9;">Enter your email</mat-label>
                            <input matInput placeholder="email@example.com" [formControl]="emailV"
                                [(ngModel)]="email" required>
                            <mat-error *ngIf="emailV.invalid">{{getErrorMessage('email')}}</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field style="width: 300px;" appearance="fill">
                            <mat-label style="opacity: 0.9;">Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordV" [(ngModel)]="password" minength="3">
                            <button mat-icon-button matSuffix placeholder="Your password" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordV.invalid">{{getErrorMessage('password')}}</mat-error>
                        </mat-form-field>
                        <mat-error *ngIf="error">Wrong email or password</mat-error>
                    </p>
                </div>
                <div style="margin-top: -20px;">
                    <mat-checkbox color="accent" style="opacity: 0.9;" [(ngModel)]="checked">Remember me</mat-checkbox>
                    <span style="float: right;"><a href="#" class="forgot-pass">Forgot password?</a></span>
                </div>
                <div style="margin-top: 20px;">
                    <button mat-flat-button color="accent" class="block" [disabled]="passwordV.invalid" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>