// .container {
//     display: flex;
//     justify-content: center;
//   }

.bg{
 background-color: #3B1159;
}

h1 {
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    letter-spacing: 0px;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 600;
}

h3{
    opacity: 0.6;
}

.container{
    padding-left: 60px;
    padding-right: 60px;
}

.centered{
    justify-content: center;
    text-align: center;
}

.login-card {
    width: 410px;
    height: 420px;
    background-color: #FFFFFF;
    overflow: visible;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -220px;
}

 .flex-container{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
 }

 .block{
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
 }

 .forgot-pass{
     color: #3B1159;
    text-align: right;
 }

 .bg-pattern{
     opacity: 0.05;
     z-index: -1;
 }