<div class="content bg">
  <div>
    <span style="font-size: 20px; font-weight: 500;">Scooters</span> <span
      style="padding-left: 20px; opacity: 0.8; font-size: 14px; display: inline-block;">{{totalScooters}} Total</span>
    <button mat-flat-button color="primary" class="float-right" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add scooter
    </button>
  </div>

  <div class="mat-elevation-z0">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element"> #{{element.idScooter | uppercase}} </td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let element"> {{element.location.coordinates}} </td>
      </ng-container>

      <!-- Battery -->
      <ng-container matColumnDef="battery">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Battery</th>
        <td mat-cell *matCellDef="let element"> {{element.battery}}% </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngIf="element.status == 'available' " color="accent" selected>{{element.status}}</mat-chip>
            <mat-chip *ngIf="element.status == 'booked' " color="warn" selected>{{element.status}}</mat-chip>
            <mat-chip *ngIf="element.status == 'suspended' ">{{element.status}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <mat-paginator [hidePageSize]="true" [showFirstLastButtons]="false"></mat-paginator>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="[element._id]">
              <mat-icon style="color: black">description</mat-icon>
          </button>
          <button *ngIf="element.status !== 'suspended' " mat-icon-button (click)="suspendScooter(element._id, 'suspended')">
            <mat-icon style="color: red">remove_circle</mat-icon>
          </button>
          <button *ngIf="element.status === 'suspended' " mat-icon-button (click)="suspendScooter(element._id, 'available')">
            <mat-icon style="color: green">check_circle</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>