<div>
    <form (ngSubmit)="submit()">
        <table cellspacing="0"><tr>
            <td>
                <mat-form-field>
                <mat-label>ID</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Scooter ID" maxlength="4" [(ngModel)]="scooterID">
                <mat-error *ngIf="emailFormControl.hasError('minLength') && !emailFormControl.hasError('required')">
                    Please enter a valid id
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Scooter ID is <strong>required</strong>
                </mat-error>
                </mat-form-field>
            </td>
            <td>
                <button mat-stroked-button (click)="generateID(1, 'idScooter')">Generate</button>
            </td>
        </tr></table>
            <mat-form-field style="padding-right: 50px;">
                <mat-label>Serial Number</mat-label>
                <input type="serial" matInput  [formControl]="serialFormControl" placeholder="Serial number" [(ngModel)]="serialNumber">
                <mat-error *ngIf="!serialFormControl.hasError('required')">
                    Please enter a valid serial number
               </mat-error>
                <mat-error *ngIf="serialFormControl.hasError('required')">
                    Serial number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-stroked-button (click)="generateID(3, 'serialnumber')">Generate</button>

            <p>Battery</p>
            <mat-slider
                thumbLabel
                tickInterval="1"
                step="1"
                min="0"
                max="100"
                aria-label="units"
                [(ngModel)] = "battery">
            </mat-slider>

            <button mat-raised-button type="submit" color="primary" (click)="createClick()">Create</button>

            <div id="map"></div> 
            
    </form>
</div>