  .container-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .content{
    padding: 40px;
  }

  .bg{
    background-color: #ededed;
   }

  .mat-list-item{
    color: black;
    opacity: 0.8;
  }
  
  .mat-drawer{
    opacity: 0.9;
    background:#3B1159;
  }
  
  .mat-toolbar {
    opacity: 0.9;
    background: #e51282;
    color: white;
  }
  
  .example-sidenav-content {
    // display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    padding: 30px;
  
  }
  
  .example-toolbar {
      z-index: 2;
  }
  
  .mat-icon{
    color: white;
  }
  
  .menu-nav{
    color: white;
  }
  
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .info-card{
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #EBEBEB;
  }
  
  .info-card-inside {
    // display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
  
  }
  
  