<router-outlet></router-outlet><mat-drawer-container class="container-side" autosize>

  <mat-drawer #drawer mode="side" disableClose="true" opened="true" *ngIf="showHeader">

    <img src="../../assets/move_logo1.svg"  height="60px">
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item [routerLink]="'../dashboard'">
        <img src="../../assets/dashboard_white.svg"  mat-list-icon>
        <h4 class="menu-nav" mat-line *ngIf="isExpanded">Overview</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="'../scooters'">
        <img src="../../assets/scooters_white.svg"  mat-list-icon>
        <h4 class="menu-nav" mat-line *ngIf="isExpanded">Scooters</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="'../rides'">
        <img src="../../assets/rides_white.svg"  mat-list-icon>
        <h4 class="menu-nav" mat-line *ngIf="isExpanded">Rides</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="'../customers'">
        <img src="../../assets/customers_white.svg"  mat-list-icon>
        <h4 class="menu-nav" mat-line *ngIf="isExpanded">Customers</h4>
      </mat-list-item>
    </mat-nav-list>

    <button mat-icon-button (click)="isExpanded = !isExpanded" style="margin: 10px;">
      <mat-icon  *ngIf="!isExpanded" style="transform: rotate(270deg);">expand_more</mat-icon>
      <mat-icon  *ngIf="isExpanded" style="transform: rotate(90deg);">expand_more</mat-icon>
      <h4 mat-line *ngIf="isExpanded">Hide</h4>
    </button>

  </mat-drawer>

  <router-outlet (activate)="modifyHeader()"></router-outlet>

</mat-drawer-container>