<div class="content bg">
  <div>
    <span style="font-size: 20px; font-weight: 500;">Rides</span> <span
      style="padding-left: 20px; opacity: 0.8; font-size: 14px; display: inline-block;">100 total</span>
  </div>

  <div class="mat-elevation-z0">

    <table mat-table [dataSource]="dataSource" matSort matSortActive="status" matSortDirection="desc" multiTemplateDataRows>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell *matCellDef="let element"> {{ element.userEmail }} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container class="center" *ngIf="transform(element.duration) === 'null' ">
            <mat-spinner [diameter]="20" mode="indeterminate" ></mat-spinner>
          </ng-container>
          <ng-container *ngIf="transform(element.duration) !== 'null' ">
            {{ transform(element.duration) }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
        <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
      </ng-container>

      <ng-container matColumnDef="scooter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Scooter</th>
        <td mat-cell *matCellDef="let element"> #{{element.scooterID.slice(-4) | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="desc">Status</th>
        <td mat-cell *matCellDef="let element"> 
          <mat-chip-list>
            <mat-chip *ngIf="element.status == 'completed' " color="accent" selected>{{element.status}}</mat-chip>
            <mat-chip *ngIf="element.status == 'in progress' " color="warn" selected>{{element.status}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} RON</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <mat-paginator [hidePageSize]="true" [showFirstLastButtons]="false"></mat-paginator>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="[element._id]">
            <mat-icon style="color: black">description</mat-icon>
        </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>
</div>