<div>
    <h4>ID: {{data.id}}</h4>
    <h4>Email: {{data.email}}</h4>
    <img class="center" [src]="licensePic" width="400px" height="auto">
</div>

<div>
    <button mat-flat-button>Cancel</button>
    <button mat-flat-button color="primary" *ngIf="data.status==='active'" (click)="suspendUser()">Suspend</button>
    <button mat-flat-button color="primary" *ngIf="data.status==='suspended'" (click)="suspendUser()">Activate</button>
</div>
