<div class="container">

  <mat-grid-list cols="4" rowHeight="120px">
    <mat-grid-tile>
      <div class="info-card">
        <mat-grid-list cols="2" rowHeught="100px">
          <mat-grid-tile>
            <img src="../../assets/scooters.svg" height="50px">
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h1 style="margin-bottom: 0px;">{{nrRides}}</h1>
              <h4 style="margin-top: -10px;">Rides</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-card">
        <mat-grid-list cols="2" rowHeught="100px">
          <mat-grid-tile>
            <img src="../../assets/clients.svg" height="50px">
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h1 style="margin-bottom: 0px;">{{nrCustomers}}</h1>
              <h4 style="margin-top: -10px;">Clients</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-card">
        <mat-grid-list cols="2" rowHeught="100px">
          <mat-grid-tile>
            <img src="../../assets/scooters.svg" height="50px">
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h1 style="margin-bottom: 0px;">{{nrScooters}}</h1>
              <h4 style="margin-top: -10px;">Scooters</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-card">
        <mat-grid-list cols="2" rowHeught="100px">
          <mat-grid-tile>
            <img src="../../assets/revenue.svg" height="50px">
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h1 style="margin-bottom: 0px;">{{revenue}}</h1>
              <h4 style="margin-top: -10px;">RON Revenue</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="4" rowHeight="380px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="chart-card">
        <h3 style="margin-left: 20px; padding-top: 10px;">Revenue</h3>
        <canvas baseChart  height="150" width="500" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <div id="map"></div> 
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1"> 
      
      <div class="table-card">
        <h3 style="float: left; margin-left: 20px; padding-top: 10px;">New Rides</h3>
        <a style="float: right; margin-right: 20px; padding-top: 10px;" [routerLink]="'../rides'">
          <button class="button viewall">View all</button>
        </a>
        
        <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" matSortDisableClear multiTemplateDataRows>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'shortDate'}} </td>
          </ng-container>
    
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef >Duration</th>
            <td mat-cell *matCellDef="let element"> {{ transform(element.duration) }} </td>
          </ng-container>
    
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef >Distance</th>
            <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
          </ng-container>
    
          <ng-container matColumnDef="scooter">
            <th mat-header-cell *matHeaderCellDef >Scooter</th>
            <td mat-cell *matCellDef="let element"> #{{element.scooterID.slice(-4) | uppercase}} </td>
          </ng-container>
    
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef >Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [routerLink]="[element._id]">
                <mat-icon style="color: black">description</mat-icon>
            </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
      </div>

    </mat-grid-tile>
  </mat-grid-list>



</div>