.container-side {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-list-item{
  color: black;
  opacity: 0.8;
}

.mat-drawer{
  opacity: 0.9;
  background:#3B1159;
}

.mat-toolbar {
  opacity: 0.9;
  background: #e51282;
  color: white;
}

.container {
  // display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  padding: 30px;

}

.example-toolbar {
    z-index: 2;
}

.mat-icon{
  color: white;
}

.menu-nav{
  color: white;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.info-card{
  width: 300px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}

.chart-card{
  width: 100%;
  // margin-top: 5rem;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}

.table-card{
  width: 100%;
  // margin-top: 5rem;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}

.info-card-inside {
  // display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

h4{
  color: black;
}

h3{
  font-weight: 600;
  color: black;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map{ position: absolute; top: 0; bottom: 0; width: 90%; height: 100%;}

.gm-fullscreen-control {
  display: none;
}


.button {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.viewall{
  background-color: #ededed;
  color: black;
}

.viewall:hover{
  background-color: #cccbcb;
}

.mat-header-cell {
  font-weight: 600;
  background-color: white;
}
