/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;
}

table {
    width: 100%;
}

.bg {
    background-color: #ededed;
}

.container-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-list-item {
    color: black;
    opacity: 0.8;
}

.mat-drawer {
    opacity: 0.9;
    background: #3b1159;
}

.mat-drawer-content{
    background: #ededed;
}

.mat-toolbar {
    opacity: 0.9;
    background: #e51282;
    color: white;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    opacity: 0.9;
}

.content {
    padding: 40px;
}

.example-toolbar {
    z-index: 2;
}

.mat-icon {
    color: white;
}

h4 {
    color: white;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-table th{
    text-align: left;
    padding: 5px 15px;
    font-weight: 600;
    border-bottom-style: none;
  }

th.mat-sort-header-sorted {
    color: black;
}

.mat-header-cell {
    font-weight: 600;
    background-color: #ededed;
}

.mat-header-row {
    height: 20px;
}

::ng-deep .mat-paginator {
    // override material paginator page switch
    .mat-paginator-range-label {
        display: none;
    }
}

$md-move-pink: (
    50: #fce6ec,
    100: #f7c1d0,
    200: #f298b1,
    300: #ed6e91,
    400: #e94f7a,
    500: #e53062,
    600: #e22b5a,
    700: #de2450,
    800: #da1e46,
    900: #d31334,
    A100: #ffffff,
    A200: #ffcfd6,
    A400: #ff9caa,
    A700: #ff8395,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-move-purple: (
    50: #e7e2eb,
    100: #c4b8cd,
    200: #9d88ac,
    300: #76588b,
    400: #583572,
    500: #3b1159,
    600: #350f51,
    700: #2d0c48,
    800: #260a3e,
    900: #19052e,
    A100: #a468ff,
    A200: #8535ff,
    A400: #6602ff,
    A700: #5c00e7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-move-warn: (
    50: #feefe4,
    100: #fdd7bc,
    200: #fbbd8f,
    300: #f9a262,
    400: #f88e40,
    500: #f77a1e,
    600: #f6721a,
    700: #f56716,
    800: #f35d12,
    900: #f14a0a,
    A100: #ffffff,
    A200: #ffede7,
    A400: #ffc6b4,
    A700: #ffb29b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$my-app-primary: mat-palette($md-move-purple);
$my-app-accent: mat-palette($md-move-pink);
$my-app-warn: mat-palette($md-move-warn, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

$custom-typography: mat-typography-config(
    $font-family: "Bai Jamjuree",
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);
@include angular-material-theme($my-app-theme);
