<div style="margin-top: 3rem" class="bg">
    <div class="container">
        <div>
            <span style="font-size: 26px; font-weight: 500;">Scooter details</span>
            <div class="right">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="color: black;">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="scooter?.status === 'available'" (click)="changeStatus('suspended')">
                        <span>Suspend</span>
                    </button>
                    <button mat-menu-item *ngIf="scooter?.status === 'suspended'" (click)="changeStatus('available')">
                        <span>Make available</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="card">
            <div class="left">
                <h2>Scooter: #{{scooter?.idScooter}}</h2>
                <h3>Serial number: {{scooter?.serialNumber}}</h3>
                <h3>Battery: {{scooter?.battery}}%</h3>
            </div>
            
            <div class="right">
                <mat-chip-list>
                    <mat-chip *ngIf="scooter?.status == 'available' " color="accent" selected>{{scooter?.status}}</mat-chip>
                    <mat-chip *ngIf="scooter?.status == 'ride' " color="warn" selected>{{scooter?.status}}</mat-chip>
                    <mat-chip *ngIf="scooter?.status == 'suspended' ">{{scooter?.status}}</mat-chip>
                  </mat-chip-list>
            </div>

            <div style="clear: both;">
               <div id="map"></div>
            </div>
        </div>
    </div>


</div>