.container {
  margin: auto;
  width: 42%;
  padding: 10px;
  margin-top: 1rem;
}
  
.card{
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  overflow: hidden;
  padding: 1rem;
  margin-top: 1rem;
  height: 420px;
}
  
.right{
  float: right;
}

.left{
  float: left;
}

#map{ position: absolute; width: 40%; height: 30%;}
  